/* main.scss */
@import "variables";
@import "bootstrap";
@import "bootstrap/theme";

body {
	overflow-x:hidden; 
}

// GENERAL STYLE FOR DISPLAY BACKGROUND
#home {
	width: 100%;
	background: url("../img/bg-home.jpg") no-repeat center center;
	height: 100vh;

	background-size: cover;

	text-align: center;
}

// STYLE FOR LOGO AND GREENSOCK ELEMENTS
#logo_eve {
	position: relative;
	display: block;
	float:left;
	margin-top: -7%;
	margin-left: 2%;
	left: -10px;
	opacity: 0;
}

#welcome_title {
	position: relative;
	opacity: 0;
	top: -30px;
}

#hr_custom {
	width: 0;
	position: relative;
	margin-left: auto;
	margin-right: auto;

	border-top: 10px solid white;

}

#paragraph_text {
	opacity: 0;
}

// MAIN CONTAINER
#main_container {

	margin-top: 10%;
	color:white;

	h1 {
	  font-size: 10vw;
	}
}

#textOnMiddle { 

	font-size: 2vw;
	opacity: 1;

	.custom_text {
		opacity: 0.6;

	}
	
}

#contact {
	padding-top: 3%;
	font-size: 1.4em;
}

// STYLE FOR SOCIAL
#social {
  	margin-top: 10%;
}


@media only screen and (max-width : 480px) {

	#logo_eve {
	position: relative;
	display: block;
	float:left;
	margin-top: -7%;
	margin-left: 2%;
	left: -10px;
	opacity: 0;
	}
	
	#welcome_title {
		padding-top:80px;
	}

	#textOnMiddle {
		font-size: .9em;
	}

	#contact {
	padding-top: 20%;
	font-size: 1em;
	}
}

