/* main.scss */
@import "variables";
@import "bootstrap";
@import "bootstrap/theme";

/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Cousine:400,700);

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

body {
	overflow:hidden; 
	font-family: 'Cutive Mono';
	text-rendering: optimizeLegibility;
}


// Variabili per viewPort
$minWidth: 480px;
$landScape: 736px;
$mediumWidth: 1200px;
$largeWidth:  2560px;



// GENERAL STYLE FOR DISPLAY BACKGROUND
#home {
	width: 100%;
	background: url("../img/bg-home.jpg") no-repeat center center;
	height: 100vh;
	background-size: cover;
	text-align: center;
}

// STYLE FOR LOGO AND GREENSOCK ELEMENTS
#logo_eve {
	position: relative;
	display: block;
	margin-top: -7%;
	padding-right: 70%;
	left: -150px;
	opacity: 0;

	img {
		width: 25%;
		transition: all linear .2s;
	}
}

#welcome_title {
	position: relative;
	opacity: 0;
	top: -30px;
}

#hr_custom {
	width: 0;
	position: relative;
	margin-left: auto;
	margin-right: auto;

	border-top: 10px solid white;

}

#paragraph_text {
	opacity: 0;
}

// MAIN CONTAINER
#main_container {

	padding-top: 10%;
	color:white;

	h1 {
	  font-size: 10vw;
	  margin-top: 3%;
	}
}

#textOnMiddle { 

	font-size: 2vw;
	opacity: 1;

	.custom_text {
		opacity: 0.6;

	}
	
}

#contact {
	padding-top: 3%;
	font-size: 1.4em;
	opacity: 0;
}

// STYLE FOR SOCIAL
#social {
  	margin-top: 10%;
  	opacity: 0;
}


@media (max-width: $landScape) { 

	.animate-area { background-image: none;}
	.movie-star {background-image: none;}


	#hr_custom {
		border-top: 5px solid white;
	}

	#welcome_title {
		padding-top:-10%;
		margin-top: -5%;
		font-size: .8em;
		transition: all linear .2s;

	}

	#contact {
		font-size: .8em;
		transition: all linear .2s;

	}

	#social {
		margin-top: -1px;
		padding-bottom: none;
		padding-top: 2%;
		transition: all linear .2s;

	}


}


// Smartphone viewPort
@media (max-width: $minWidth) { 


	#hr_custom {
		border-top: 5px solid white;
	}
	
	#welcome_title {
		padding-top:10%;
	}

	#textOnMiddle {
		font-size: 1.15em;
	}

	#contact {
	padding-top: 20%;
	font-size: 1em;
	}


	#logo_eve {
		
		img {
		width: 70%;
		transition: all linear .2s;
		}

	}
	
}


// Monitor 13'' pollici like macPro 
@media (min-width: $mediumWidth) {

	#welcome_title {
		padding-top:2%;
		margin-top: -10px !important;
	}


	#contact {
	padding-top: 4%;
	font-size: 2em;
	}

	#social {
		margin-top: 5%;
		padding-bottom: 6.3%;
	}


 }


// Big monitor imac27'' 
@media (min-width: $largeWidth) { 
	
	// MAIN CONTAINER
	#main_container {

		padding-top: 10%;
		color:white;

		h1 {
		  font-size: 10vw;
		  margin-top: 2%;
		}
	}

	#welcome_title {
		padding-top: 0;

	}

	#contact {
	padding-top: 3%;
	font-size: 2em;
	}

	#social {
		margin-top: 6%;
	}

	
}



// .header {
// 	width: 782px; height: 150px;
// 	/* DEFAULTS TO SUNNY */
// 	background: url(images/header-sunny.png) no-repeat center center black;
// 	}
// 	.header-rain {
// 		background: url(images/header-rain.png) no-repeat center center black;
// 	}
// 	header-snow {
// 		background: url(images/header-snow.png) no-repeat center center black;
// 	}
// 	.header-sunny, .header-fair {
// 		background: url(images/header-sunny.png) no-repeat center center black;
// 	}
// 	.header-partly-cloudy, .header-cloudy, .header-mostly-cloudy {
// 		background: url(images/header-partlycloudy.png) no-repeat center center black;
// }




